/* Wrap Home Default Theme */
.VPContent .is-home {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.VPContent .is-home .VPHome {
  width: 100vw;
  height: calc(100vh - 64px);
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

.VPHero {
  width: 100%;
  height: 100% !important;
}

.vpHomeWrap {
  width: 100%;
  height: calc(100vh - 64px);
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99;
}

.Layout .is-home {
  background-image: url("/img/texture-wall-light.png") !important;
  background-size: cover;
}

.dark .Layout .is-home {
  background-image: url("/img/texture-wall-dark.png") !important;
  background-size: cover;
}