:root {
  /* Sobreescribir colores de la paleta de colores */
  --vp-c-white: #ffffff;
  --vp-c-white-soft: #cbcbd6;
  --vp-c-black: #000000;
  --vp-c-black-soft: #2b2828;

  /* Colores por defecto theme light */
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
  --color-primary: var(--vp-c-brand);
  --color-secondary: var(--vp-c-indigo-1);

  /* Textos */
  --base-font-size: 16px;
  --vp-c-text-1: var(--vp-c-black);
  --vp-c-text-2: var(--vp-c-black-soft);
  --vp-c-text-dark: var(--vp-c-white);
}

.dark {
  /* Colores por defecto theme dark */
  --vp-c-bg: #050705;
  --vp-c-bg-alt: #1e1e2a;
  --vp-c-bg-elv: #14182e;
  --vp-c-bg-soft: #56565b;
  --color-primary: var(--vp-c-brand);
  --color-secondary: var(--vp-c-indigo-1);

  /* Textos */
  --vp-c-text-1: var(--vp-c-white);
  --vp-c-text-2: var(--vp-c-white-soft);
  --vp-c-text-dark: var(--vp-c-black);
}