.text {
  font-size: 24px !important;
}

.tagline {
  font-size: 15px !important;
  line-height: 18px !important;
  line-break: strict !important;
}

.image-src {
  border-radius: 20px 20px !important;
  /* shadow as elevation-12 */
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07) !important;
}

/* override default color palette */
:root {
  --theme-color-primary: #3eaf7c;
  --theme-color-primary-light: #3eaf7c;
  --theme-color-primary-lighter: #3eaf7c;
  --theme-color-primary-lightest: #3eaf7c;
  --theme-color-primary-dark: #3eaf7c;
  --theme-color-primary-darker: #3eaf7c;
  --theme-color-primary-darkest: #3eaf7c;
  --theme-color-secondary: #3eaf7c;
  --theme-color-secondary-light: #3eaf7c;
  --theme-color-secondary-lighter: #3eaf7c;
  --theme-color-secondary-lightest: #3eaf7c;
  --theme-color-secondary-dark: #3eaf7c;
  --theme-color-secondary-darker: #3eaf7c;
  --theme-color-secondary-darkest: #3eaf7c;
  --theme-color-accent: #3eaf7c;
  --theme-color-accent-light: #3eaf7c;
  --theme-color-accent-lighter: #3eaf7c;
  --theme-color-accent-lightest: #3eaf7c;
  --theme-color-accent-dark: #3eaf7c;
  --theme-color-accent-darker: #3eaf7c;
  --theme-color-accent-darkest: #3eaf7c;
  --theme-color-neutral: #3eaf7c;
  --theme-color-neutral-light: #3eaf7c;
  --theme-color-neutral-lighter: #3eaf7c;
  --theme-color-neutral-lightest: #3eaf7c;
  --theme-color-neutral-dark: #3eaf7c;
  --theme-color-neutral-darker: #3eaf7c;
  --theme-color-neutral-darkest: #3eaf7c;
  --theme-color-success: #3eaf7c;
  --theme-color-success-light: #3eaf7c;
  --theme-color-success-lighter: #3eaf7c;
  --theme-color-success-lightest: #3eaf7c;
  --theme-color-success-dark: #3eaf7c;
  --theme-color-success-darker: #3eaf7c;
  --theme-color-success-darkest: #3eaf7c;
  --theme-color-warning: #3eaf7c;
  --theme-color-warning-light: #3eaf7c;
  --theme-color-warning-lighter: #3eaf7c;
  --theme-color-warning-lightest: #3eaf7c;
  --theme-color-warning-dark: #3eaf7c;
  --theme-color-warning-darker: #3eaf7c;
  --theme-color-warning-darkest: #3eaf7c;
  --theme-color-error: #3eaf7c;
  --theme-color-error-light: #3eaf7c;
  --theme-color-error-lighter: #3eaf7c;
  --theme-color-error-lightest: #3eaf7c;
  --theme-color-error-dark: #3eaf7c;
  --theme-color-error-darker: #3eaf7c;
  --theme-color-error-darkest: #3eaf7c;

  --theme-color-text: #3eaf7c;
  --theme-color-text-light: #3eaf7c;
  --theme-color-text-lighter: #3eaf7c;
  --theme-color-text-lightest: #3eaf7c;
  --theme-color-text-dark: #3eaf7c;
  --theme-color-text-darker: #3eaf7c;
  --theme-color-text-darkest: #3eaf7c;
  --theme-color-heading: #3eaf7c;
  --theme-color-heading-light: #3eaf7c;
  --theme-color-heading-lighter: #3eaf7c;
  --theme-color-heading-lightest: #3eaf7c;
  --theme-color-heading-dark: #3eaf7c;
  --theme-color-heading-darker: #3eaf7c;
  --theme-color-heading-darkest: #3eaf7c;
  --theme-color-border: #3eaf7c;
}