:root {
  --font-size: calc(var(--base-font-size) * 0.55);
}

@media (min-width: 410px) {
  :root {
    --font-size: calc(var(--base-font-size) * 0.65);
  }
}

@media (min-width: 576px) {
  :root {
    --font-size: calc(var(--base-font-size) * 0.75);
  }
}

@media (min-width: 768px) {
  :root {
    --font-size: calc(var(--base-font-size) * 0.9);
  }
}

@media (min-width: 992px) {
  :root {
    --font-size: calc(var(--base-font-size) * 0.95);
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size: calc(var(--base-font-size) * 1);
  }
}